.navbar-brand{
    padding-top: 20px;
    padding-bottom: 20px;
}

nav{
    background-color: lightgray;
    overflow: hidden;
    position:relative;
    margin-bottom: auto;
    z-index:3;
    text-transform:uppercase;
}

.nav-title{
    font-size: 26px;
}


a{
    color: #696969;
}

a:hover{
    color:white;
}

.nav-item{
    font-size: 20px;
    color: darkgrey;
    padding-top: 4px;

}

/* STICKY */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 40px;
  }



.jumbotron{
    height: 500px;

}

.title{
    text-align: center;
    padding: 40px;
    margin-bottom: 0px;
}


.attorney{
    color: white;
}
.subtitle{
    text-align: center;
    padding: 20px;

}
.column{
    text-align: justify;
    padding: 7px;
}


.attorney-profile{
    margin-top: 40px;

}

.justify{
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

.white-text{
    color:white;
}

.col-md-6{
    padding-bottom: 20px;
}

.center{
    text-align: center;
    font-size: 20px;
    
}

#scrollToServices{
    margin-top: 20px;
}

#scrollToContact{
    margin-bottom: 40px;
}

.background{
    background-color: lightgray;
    margin-bottom: 20px;
}

.avvo{
    
    margin: auto;
}