.offset-scroll{
    padding-top:74px;
}

.offset-padding{
    padding-top: 74px;
}

p{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.nav-title:hover{
    color: rgb(4, 48, 158);
  
    font-family: 'Roboto', sans-serif;
}

.bg-dark {
    background-color:#0f0f0f!important;
}

nav{
    color: white;
    overflow: hidden;
    position: fixed;
    display: block;
   z-index: 1000;
   margin-bottom: -95px;
   font-family: 'Roboto', sans-serif;
   width: 100%;
}

.subheader{
    background-color: rgb(4, 48, 158);
    height: 100%;
    padding: 20px;
}

.jumbosub{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
    margin:auto;
    
}
.sticky{
    position: fixed;
    width: 100%
}

.nav-title{
    font-size: 26px;
    color: white;

}

.nav-item{
    font-size: 24px;
    margin-left: 55px;
    padding-top: 4px;  
}



.nav-item:hover{
    border-bottom: 2px solid;
     
     border-color:  rgb(4, 48, 158);
}


/* NAV TEXT COLOR */

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav  .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
/* STICKY */

.jumbotron-nav{
    height: 550px;
    background-image: url("../../assets/images/background1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.title{
    text-align:center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    
    padding: 10px;
    color: white;
    
}



.display-4{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 55px;
}

.lead{
    font-size: 26px;
    color: white;
}


.attorney{
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
    text-align:left; 
}
.subtitle{
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
   

}
.column{
    text-align: justify;
    padding: 7px;
    font-family: 'Roboto', sans-serif;
}

.learnmore{
    font-size: 20px;
}
.image-hue-criminal{
  
    background-image: url("../../assets/images/criminal2-1-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    transition: 1s;
}

.image-hue-criminal:hover{
     
    background-image: url("../../assets/images/criminal-01-01-01-01-01-01.png");
    transition: 1s;
  box-shadow: 0 0 0px
}

.image-hue-civil{
    background-image: url("../../assets/images/civil1-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    transition: 1s;
}

.image-hue-civil:hover{
     
    background-image: url("../../assets/images/civil2-01-01-01-01.png");
    transition: 1s;
  box-shadow: 0 0 0px
}

.image-hue-injury{
    background-image: url("../../assets/images/injury-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    transition: 1s;
}

.image-hue-injury:hover{
     
    background-image: url("../../assets/images/injury2-01-01-01-01.png");
    transition: 1s;
  box-shadow: 0 0 0px
}


.attorney-profile{
    margin-top: 40px;
    
}

.justify{
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.white-text{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.col-md-6{
    padding-bottom: 20px;
}

.center{
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding:5px;
    color: white;
   
    
}

#scrollToServices{
    margin-top: 20px;
}

#scrollToContact{
    margin-bottom: 40px;
}

.background{
    background-color: 	 #303030;
    margin-bottom: 20px;
}

.avvo{
    display: block;
    margin: auto;
    padding: 2px;
}

.view-profile{
    display: block;
    margin: auto;
    padding: 15px;

}

.copyright{
    padding: 15px;
    
text-align: center;
    margin: auto;
    align-content: center;
}

.photo-text{
    padding: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}

.footer{
    height:400px;
}

.subtitle-background{
    height: 80px;
    background-size:cover;
   
}

#scrollToServices{
    padding-bottom: 150px;
}

.contact-background{
    background-color:rgb(189, 189, 189);
    height: 100%;
    padding: 15px;
}

a {
   color:inherit
}

a:hover {
    color: rgb(4, 48, 158);
    text-decoration: none;
    transition: 1s;
 }